@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay;
  src: url("/fonts/font.ttf");
}

* {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3 {
  font-family: ClashDisplay;
}